/* div {
    background-color: cornflowerblue;
    color: red;
    text-align: center;
    padding: 40px;
}

h2 {
    color: white;
    background-color: wheat;
    font-family: "궁서";
    padding: 10px;
} */
.title {
    font-style: italic;
}
