<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <table>
            <tr>
                <th>영화제목</th>
                <th>런타임</th>
                <th>카테고리</th>
                <th>감독</th>
            </tr>
            <% movietbl.forEach(function (value) { %>
            <tr>
                <td><%= value.movieName %></td>
                <td><%= value.runTime %></td>
                <td><%= value.category %></td>
                <td><%= value.director %></td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>
